@font-face {
    font-family: "Helvetica Regular";
    font-style: normal;
    font-display: swap;
    src: local("Helvetica Regular"),
    url("fonts/HelveticaRegular.woff") format("woff"),
    url("fonts/HelveticaRegular.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica Light";
    font-style: normal;
    font-display: swap;
    src: local("Helvetica Light"),
    url("fonts/HelveticaLight.woff") format("woff"),
    url("fonts/HelveticaLight.woff2") format("woff2");
}

@font-face {
    font-family: "MyriadProBold";
    font-style: normal;
    font-display: swap;
    src: local("Myriad Pro Bold"),
    url("fonts/MyriadProBold.woff") format("woff"),
    url("fonts/MyriadProBold.woff2") format("woff2");
}

