.page-main{
    max-width: var(--width);
    padding: var(--page-padding);
    margin: 0 auto;
}

.page-main--landing{
    max-width: none;
    padding: 0;
}

.page-main__title{
    max-width: 885px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 70px;
    position: relative;
    text-align: center;
}

.page-main__title h1{
    margin-bottom: 40px;
    font-family: var(--title-font);
    font-size: var(--title-big);
    line-height: var(--title-big-line-height);
    color: var(--title-color);
}

@media (max-width: 500px) {
    .page-main__title{
        margin-top: 50px;
        margin-bottom: 30px;
    }
}